header{
    background-color: black;
    color:aliceblue;
    height: 150px;
}

header img{
    margin-top: 50px;
    margin-left: 50px;
}

ul{
margin-left: 350px;
margin-top: -50px;
}

li{
    display:inline;
    padding: 40px;
}